@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #faa432;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --font-oswald: var(--font-oswald);
  --font-roboto: var(--font-roboto);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-oswald), sans-serif;
}

@layer components {
  .btn-primary {
    @apply  font-roboto font-bold  bg-primary text-white border-white outline-none border-[3px]  rounded-[50px] py-[17px] px-[52px]  ;
  }
}

