@import "tailwindcss";
@plugin "@tailwindcss/typography";
:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #faa432;
  --secondary: #63AF21;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --font-oswald: var(--font-oswald);
  --font-roboto: var(--font-roboto);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-oswald), sans-serif;
}

p,span,li{
  font-family: var(--font-roboto)
}
.marquee {
  width: max-content;
  animation: marquee-scroll 20s linear infinite;
}

@keyframes marquee-scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

li{
  font-weight:500;
  font-size:16px;
  line-height:30px;
}
.hero-tagline,.price{
  font-family: var(--font-oswald);
}
@layer components {
  .btn-primary {
    @apply  font-roboto font-bold  bg-primary text-white border-white outline-none border-[3px]  rounded-[50px] py-[17px] px-[52px]  ;
  }

}

